.logo {
  width: 50px;
  float: left;
}

.bar {
  text-align: center;
  padding: 10px;
}

.menu {
  list-style: none;
  display: inline-flex;
}

ul.menu > li {
  padding-right: 3em;
  text-transform: uppercase;
}

ul.menu > li > a {
  text-decoration: none;
}

#banner {
  background-image: url('DSC05654.JPG');
  width: 97.7%;
  height: 28em;
  background-position-x: 0em;
  background-position-y: 88em;
  background-size: 100%;
}

#container > * {
  margin: 15px;
}



* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
